/*layout*/
body {

}
div{
	
}
label{
	font-weight: normal;
}
button,input{
	margin:5px !important;
}
.optionLabel{
	display: inline-block;
}
.examSection{
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;

	margin: 2%;
}
.leftSideContainer{
	position:absolute;
	right: 200px;
	left:0px;
	width: 75%;
	padding-right:5px;
}
.rightSideContainer{
	position:absolute;
	right: 0px;
	width: 25%;
}
.indexedButtons{
	
}
@media screen and (max-width: 810px) {
	button,input{
		/*margin:3px !important;*/
	}
	.btn{
		/*padding:3px 6px !important; */
	}
	.modal{
		/*font-size:0.8em;*/
	}
}
@media screen and (max-width: 480px) {
	.welcomeNote,legend,.questionSectionInfo{
		/*display:none;*/
	}
	button,input{
		/*margin:1px !important;*/
	}
	.btn{
		/*padding:0px 2px !important; */
	}
	.modal{
		/*font-size:0.7em;*/
	}
}

/*Style*/
/*
.green,.green:hover,.green:focus{
	background-color: green;
}
.yellow:focus,.yellow:hover,.yellow{
	background-color: yellow;
}
.red,.red:focus,.red:hover{
	background-color: red;
}*/
.popup{
	z-index: 10;
	padding: 10px;
	display: block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background-color: hsl(0, 100%, 100%);
	box-shadow: 0px 0px 17px hsl(0, 0%, 78%);
	-webkit-box-shadow: 0px 0px 17px hsl(0, 0%, 78%);
	-moz-box-shadow: 0px 0px 17px #c8c8c8;
	-ms-box-shadow: 0px 0px 17px #c8c8c8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.leftAndRight{
	position: absolute;
	bottom: 50px;
	top:100px;
	left: 0px;
	right: 0px;
	overflow: auto;
}
.bottomNavigationContainer{
	width: 100%;	
	position: absolute;
	bottom: 0px;
	height:44px;
}
.indexedButtons{

}
.showPreloader{
	position: absolute;
	top:0px;
	left: 0px;
	right:0px;
	bottom: 0px;
	display: block;
	background-image: url("images/loader.gif");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
}

.hidePreloader{
	display: none;
}
@media screen and (max-width: 600px){
	.leftSideContainer,.rightSideContainer{
		width:100%;
		position:relative;
		float: left;
	}
	.indexedButtons{
/*		height: 100px;*/
	}
	.bottomNavigationContainer{

		/*height:30px;*/
	}
	.sectionContainer{

	}
	.leftAndRight{
		top:150px;	
	}
	
}
@media (min-width: 768px){
	.modal-dialog {
	width: 85%;
	}
}
