<div ng-controller="examSettingController">
	<table class="table table-hover table-striped">
      <thead>
      	<tr>
			<td>#</td>
			<td>Exam Name</td>
			<td>Operation</td>
		</tr>
      </thead>
		<tr ng-repeat="exam in mockTests">
			<td>{{$index+1}}</td>
			<td>				
				<a ng-click="previewMocktest($index)">{{exam.name}}</a>
			</td>
			<td>
				<a ng-click="questionsListView($index)">Add questions</a>/
				<a ng-click="questionsListView($index)">Edit or delete questions</a>/
				<a ng-click="studentsListView($index)">Sudents</a>/
				<a ng-click="editMocktest($index)">Edit Mocktest</a>/
				<a ng-click="deleteMocktest($index)">Delete Mocktest</a>
			</td>
		</tr>
	</table>
	
	<!--div ng-show="showSettingsForm" class="transparentLayer"></div-->
<div >
<button class="btn"  ng-click="addMocktest( )">Add Mocktest</button><br />

<script type="text/ng-template" id="studentList.html">
	    <div class="modal-header">
            <h3 class="modal-title">Add edit student to the {{currentMocktest.name}}</h3>
        </div>
        <div class="modal-body">
        	<table>
	        	<tr>
					<thead>
						<td>#</td>
						<td>Students</td>
						<td>Operations</td>
		        	</thead>
	        	</tr>
	        	<tr ng-repeat="student in currentMocktest.students">
	        		<td>{{$index+1}}</td>
	        		<td><input type="text" class="form-control" ng-model="$parent.currentMocktest.students[$index]" /></td>
	        		<td><a ng-click="deleteStudent($index)">Delete</a></td>
	        	</tr>
        	</table>
        </div>
        <div class="modal-footer">
            <button class="btn" ng-click="cancel()">Okey</button>
        </div>
</script>


    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Set up your mock test</h3>
        </div>
        <div class="modal-body">
	        
			Enter mock test name<input type="text" class="form-control" required ng-model="currentMocktest.name" /><br />
			
			sections<button class="btn" ng-click="addSection()">Add</button>
					<button class="btn" ng-click="deleteSection()">Delete</button><br />
			
			<div ng-repeat="section in currentMocktest.sections">
				<input type="text" class="form-control" required ng-model="$parent.currentMocktest.sections[$index]" ng-value="section"/>
			</div>
			Starting Date

    <input type="datetime-local" min="2001-01-01T00:00:00" max="2013-12-31T00:00:00" class="form-control"  ng-model="currentMocktest.startDate" placeholder="yyyy-MM-ddTHH:mm:ss"  required />
    			<!--input type="datetime-local" class="form-control" ng-model="currentMocktest.startDate"  /--><br />
			Ending Date<input type="datetime-local" class="form-control" ng-model="currentMocktest.endDate" placeholder="yyyy-MM-ddTHH:mm:ss"  required />
			<!--input type="datetime-local" class="form-control" ng-model="$parent.currentMocktest.endDate" /--><br />


			Mock test duration<input type="number" placeholder="HH" name="points" min="0" max="24" step="1" class="form-control" style="width:65px;display:inline-block;"  ng-value="00" ng-model="currentMocktest.durationHH" />:
			<input type="number" name="points" min="0" max="60" placeholder="MM" step="5" class="form-control" ng-model="currentMocktest.durationMM" style="width:65px;display:inline-block;"  ng-value="00"/>

			 <!--input type="time" min="1" max="5" class="form-control" ng-model="durationtime" /--><br/>

        </div>


        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save()">Save exam settings</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
		</script>
	</div>

</div>