<div class="homeViewContainer" ng-controller="homeController"> 
	<div id='header'>
		<div id='logo'>
		ExamColors
		</div>
		<div id='loginWrapper'>
			<form role="form" class='form-inline'>
			<div class="form-group">
					<label for="username" class='loginlables'>Username/Phone no</label>
					<input type="text" class="form-control" id="loginInputEmail" ng-model="user.name" placeholder="Enter email/ Phone no">
			</div>
			<div class="form-group">
					<label for="password" class='loginlables'>Password</label>
					<input type="password" class="form-control" ng-model="user.password" id="loginInputPassword" placeholder="Password">
			</div>
			<div id ='loginButton' class="btn btn-primary" ng-click="authenticateUser()">Login</div>
			</form>
		</div>	 
	 </div> 

<div class="linkContainer">
	<div id="links">
	<p><b>Heartly welcome to examcolors.com</b></p>
	<p>

	examcolors.com is only for the aspirants who are preparing for BANK EXAMS.
	</p>
	<p>examcolours.com could able to analyse the previous SBI exams and it's pattern.</p>

	<p>We will help you to get the idea of sample SBI online exam with free of cost.</p>
		<ul class="nav nav-pills nav-stacked">
		 <li>
		 <a ng-href="#/exam?exam_name=sbi clerk">Click here for sample exam1 of SBI clerk 2014.</a>
		 </li>
		 <li>
		 <a ng-href="#/exam?exam_name=sbi clerk">Click here for sample exam2 of SBI clerk 2014.</a>
		 </li>
		 <li>
		 <a ng-href="#/exam?exam_name=sbi clerk">Click here for sample exam3 of SBI clerk 2014.</a>
		 </li>
		 <li>
		 <a ng-href="#/exam?exam_name=sbi clerk">Click here for sample exam4 of SBI clerk 2014.</a>
		 </li>
		 <li>
		 <a ng-href="#/exam?exam_name=sbi clerk">Click here for sample exam5 of SBI clerk 2014.</a>
		 </li> 
		  <li>
		 <a href="https://www.sbi.co.in/webfiles/uploads/files/1400852958172_SBI_RECRUITMENT_OF_ASSISTANTS_CLERICAL_CADRE.pdf">click here for SBI notification details</a>
		 </li> 
		</ul>
		<div class="aboutUsContainer">
			<p><b>Thank you for your valuable support.</b></p>

		</div>
		<div class="aboutSiteContainer">
			<p><b>About this site:</b></p>
			<p>Examcolors.com conduct online exams practice sessions for bank exam, ibps exams</p>
		</div>
	</div>
	<div id='registrationWrapper'>
		<h4>Registration Page</h4>
		<form role="form">
		<div class="form-group">
		<label for="username">Username</label>
		<input type="email" class="form-control input-block-level" id="registrationInputEmail" placeholder="Enter email">
		</div>
		<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control input-block-level" id="registrationInputPassword" placeholder="Password">
		</div>
		<div class="form-group">
		<label for="dateOfBirth">Date Of Birth</label>
		<input type="date" class="form-control input-block-level" id="registrationDataOfBirth" placeholder="Date Of Birth" data-date-format="yyyy-mm-dd">
		</div>
		<div class="form-group">
		<label for="E-mail">Date Of Birth</label>
		<input type="date" class="form-control input-block-level" id="registrationEmail" placeholder="E-mail" >
		</div>
		<div class="form-group">
		<label for="phoneNumber">Phone Number</label>
		<input type="number" class="form-control input-block-level" id="registrationPhoneNumber" placeholder="Phone Number">
		</div>
		<div  id ='registerButton' class="btn btn-lg btn-primary btn-block">Register</div>
		</form>
	</div>
</div>
<div class="socialmediaContainer">

</div>
</div >
